$container-width: 1278px;
$container-s-width: 1100;
$main-red: #ff385c;
$main-black: #222222;
$light-bg: #f7f7f7;
$light-font: #717171;
$light-border: #dddddd;

// sizes
$xss-size: 0.75rem;
$xs-size: 0.875rem;
$s-size: 1rem;
$m-size: 1.5rem;
// $l-size: 51.2px;
// $xl-size: 4.8rem;
